<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <!-- Partial needs user_id parameter
    which is declared by res.locals.user_id  -->
    <%- include('partials/_header'); %>
    <%= requestURL %>: <%= userUrls[requestURL] %>
    <form action="/urls/<%= requestURL %>" method="post" style="margin:150px;">
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update">
    </form>
    <form action="/urls/<%= requestURL %>/delete" method="post" style="margin:150px;">
      <input type="submit" value="Delete">
    </form>
  </body>
</html>