<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <!-- Partial needs user_id parameter
    which is declared by res.locals.user_id  -->
    <%- include('partials/_header'); %>
    <!-- Add your EJS code here -->
    <% if (result.length !== 0) { %>
      <% result.map(function(ele) { %>
        <a href='<%= ele.long %>'><%= ele.short %></a> :
        <a href='<%= ele.long %>'><%= ele.long %></a>
          <br>
        <a href = '/urls/<%= ele.id %>'>
          <button> Edit </button>
        </a>
        <div>
          <form method="post" action="/urls/<%= ele.id %>/delete">
            <button>Delete</button>
          </form>
        </div>
      <% }) %>
      <div>
        You can also shorten your long url
        <a href = '/urls/new'> here </a>.
      </div>
    <% } else { %>
      You have not created your own urls. You can shorten your long url
      <a href = '/urls/new'> here </a>.
    <% } %>
  </body>
</html>
